@import '~styles/utils.scss';

.InputWrapper {
    // width: 100%;
    // height: calc(100vh);

    display: flex;
    justify-content: center;
    align-items: center;

    .SearchInput {
        // outline: none;
        // border: none;
        // background: transparent;
    }
}
