@import '~styles/utils.scss';

.Structure {
    display: flex;
    flex-direction: column;

    position: relative;

    main {
        min-height: calc(100vh - 6rem);
        margin-left: 2rem;
        margin-right: 2rem;
    }
}
